[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=v2rayB Web Panel
Categories=Network;
Keywords=Internet;VPN;Proxy;v2ray;v2rayb
Exec=xdg-open "http://127.0.0.1:50541"
Icon=/usr/share/icons/hicolor/512x512/apps/v2rayb.png
