[Unit]
Description=v2rayB Service
Documentation=https://github.com/keepinfov/v2rayB
After=network.target network-online.target nss-lookup.target iptables.service ip6tables.service nftables.service
Wants=network.target

[Service]
Type=simple
User=root
LimitNPROC=500
LimitNOFILE=1000000
ExecStart=/usr/bin/v2rayb --log-disable-timestamp
Environment=V2RAYB_LOG_FILE=/var/log/v2rayb/v2rayb.log
EnvironmentFile=-/etc/default/v2rayb
Restart=on-failure

[Install]
WantedBy=multi-user.target
